[submodule "roles/sodola"]
	path = roles/sodola
	url = git@github.com:timms-iac/ansible-sodola.git
[submodule "roles/openwrt"]
	path = roles/openwrt
	url = git@github.com:timms-iac/ansible-openwrt.git
[submodule "roles/tplink"]
	path = roles/tplink
	url = git@github.com:timms-iac/ansible-tplink.git
[submodule "roles/shelly"]
	path = roles/shelly
	url = git@github.com:timms-iac/ansible-shelly.git
[submodule "roles/netbox"]
	path = roles/netbox
	url = git@github.com:timms-iac/ansible-netbox.git
[submodule "roles/tinkerbell"]
	path = roles/tinkerbell
	url = git@github.com:timms-iac/ansible-tinkerbell.git
[submodule "roles/talos"]
	path = roles/talos
	url = git@github.com:timms-iac/ansible-talos.git
[submodule "roles/netplan"]
	path = roles/netplan
	url = git@github.com:timms-iac/ansible-netplan.git
